.card{
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction:column;
  position:relative;
}


.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-btn {
  background-image: url(../images/Like.svg);
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  cursor:pointer;
  background-color: transparent;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn-active{
  background-image: url(../images/Union.svg);}
 
.card__like-btn-active:hover{
opacity:0.4;
}

.card__delete-btn{
  width: 32px;
  height:32px;
background-image: url(../images/Ellipse\ 3.svg);
position:absolute;
}

.card__delete-btn:hover{
  background-image: url(../images/State=Hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
