.modal{
visibility: hidden;
background-color:#00000080;
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
display:flex;
align-items:center;
justify-content:center;
padding:10px;
opacity: 0;
transition: visibility 0.3s, opacity 0.3s;
}

.modal_is-opened{
visibility: visible;
opacity: 1;
}

.modal__container{
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    background-color:#fff;
padding:36px 50px 32px;
position: relative;
box-sizing: border-box;
}

.modal__close{
position: absolute;
height: 40px;
width: 40px;
background-size: 35px 35px;
top:32px;
right:50px;
border:none;
background:transparent url(../images/Close-Icon.svg) center no-repeat;
padding:0;
transition:0.3s;
cursor: pointer;
margin:0;
opacity:0.4;
}

.modal__close-type-preview{
top:0;
right: -52.5px;
}

.modal__close:hover{
cursor:pointer;
opacity:1;
}

.modal__title{
margin:0 0 32px;
font-family:Poppins, Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 32px;
line-height:100%;
color:#212121;
}


.modal__form{
display: flex;
flex-direction: column;
}

.modal__label{
margin:0 0 32px;
font-family:Poppins, Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 16px;
color:#212121B2;
line-height:100%;
}

.modal__input{
display:block;
margin:8px 0 0;
width:100%;
font-family: Poppins, Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 100%;
color: #212121;
border:1px solid #21212166;
box-sizing: border-box;
padding:12px;
transition:border 0s linear 0.5s;
}

.modal__input:hover{
 border:1px solid #212121;
 transition-delay: 1s;
}

.modal__input::placeholder{
color:#21212166 ;
}

.modal__submit-btn{
background-color:#212121;
color: #FCF5E5;
max-width:156px;
height:52px;
padding:18px 32px;
border-radius: 8px;
border:0;
line-height: 100%;
font-size: 16px;
font-weight: 500;
}

.modal__submit-btn:hover{
cursor:pointer;
opacity: 0.8;
}

.modal__image-container{
  position:relative;}

.modal__image{
  max-width: 80vh;
  max-height:80vh;
  width: 100%;
  object-fit: contain;
 display:block ;
 border-radius: 8px;
}

.modal__caption{color:white;}

@media screen and (max-width: 420px){
  .modal__close-type-preview{
    top:-48px;
    right:0;
  }
}

@media screen and (max-width: 627px) {


  .modal__title{
  font-size:20px;
  font-weight:500;
  line-height:100%;
  color:#212121;
   }

   .modal__form{
    margin-top: 34px;
   }

   .modal__input{
 padding:16px 12px;
 font-size:16px;
  line-height: 100%;
   }

   .modal__submit-btn{
    max-width: 100%;
   }
  }

